{% extends "layout.html" %}
{% block body %}
<div class="center">
    <img src="/static/images/study_night_boy.png">
    <h1>
        素数判定の練習をしよう<br>
    </h1>
    <h2>
        与えられた数が素数か合成数か判定してください
    </h2>
    <h2>
        出題する問題数を指定してください(1以上)
    </h2>
    <form method="post" action="/check">
        <input type="number" name="req_num" required min="1">
    
    <h2>
        難易度を選択してください
    </h2>
        <input type="radio" name="level" value="初級" id="初級" required>
        <label for="初級">初級</label><br>
        <input type="radio" name="level" value="中級" id="中級" required>
        <label for="中級">中級</label><br>
        <input type="radio" name="level" value="上級" id="上級" required>
        <label for="上級">上級</label><br>
        <input type="radio" name="level" value="鬼級" id="鬼級" required>
        <label for="鬼級">鬼級</label><br><br>
    <h2>
        [確認へ進む]を押してください<br>
    </h2>
        <input type="submit" value="確認へ進む">
    </form>
</div>
{% endblock %}